.Add {
  padding: 1rem;
  width: calc(100% - 2rem);
  max-width: 600px;
  margin: 0 auto;
  height: calc(100% + 8rem);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario select {
  padding: 0.5rem;
  font-size: .8rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  /* background-color: #f9f9f9; */
  color: #333;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.formulario select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.6rem center;
  background-size: 1rem;
}

.formulario select:focus,
.formulario input:focus {
  outline: none;
  color: #bbbbbb;
  border-color: #f3f3f3;
  background-color: #3d3d50;
}

.formulario select[multiple] {
  background-image: none;
  height: auto;
}

.formulario select[multiple] option:checked {
  background-color: #1a73e8;
  color: white;
}

.formulario button {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.formulario button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.formulario select.filled {
  background-color: #3d3d50;
  color: white;
}
.formulario input.filled {
  background-color: #3d3d50;
  color: white;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1d1c1c;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;

  && button{
    background-color: #155ab6;
  }
}

.lote-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lote-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.lote-tag {
  /* background-color: #ddd; */
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 500;
}

.lote-tag button {
  background: none;
  border: none;
  color: rgb(187, 38, 38);
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

/* Checkbox personalizado */
.tematico-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  user-select: none;
  position: relative;
}

.checkbox-label input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  background-color: #444;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  left: 3px;
  top: -1px;
}
.file-upload {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.file-upload input[type="file"] {
  display: none; /* Oculta el input real */
}

.file-button {
  background-color: #1a73e8;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.file-button:hover {
  background-color: #155ab6;
}
