.Search {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
  flex-direction: column;
}

.searchBar {
  padding: 0.5rem;
  flex-shrink: 0;
}

.searchBar input {
  width: calc(100% - 1.2rem);
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.results {
  width: 100%;
  padding: 0.3rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.2rem;
  /* ✅ Que se ajuste al contenido y no cause scroll innecesario */
  height: auto;
  overflow: hidden;
  flex-grow: 1;
}

.results span {
  background-color: #131314;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: fit-content;
  font-size: 0.8rem;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 0.8rem;
}

.results span a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.results span a p,
.results span a strong {
  color: white;
}

.results span img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
